
.cont{
    padding-top: 40px;
    text-align: justify;
    font-size: 1em;
}

.fas{
    color: #5851DB; 
}

.card ,nav, .footer,tr,video{
    border-radius: 3px;
    transition: all 200ms ease-out;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

tr,th,td{
    border:0.1px solid silver;
    text-align: center;
}

.nav-item{
margin-left: 10px; 
}

.navbar-brand{
    text-shadow: 1px 1px 2px red, 0 0 50px black, 0 0 5px white;
    font-weight: bold;
    font-size: 1.5em;
}

.title{
    font-weight: bold;
    font-size: 1.7em;
    text-transform: capitalize;
    text-align: center;
}

.brand{
    text-shadow: 1px 1px 2px red, 0 0 50px black, 0 0 5px white;
}

.rounded-circle{
    margin-top: -2.5px;
}

.card-header{
    font-weight: bolder;
    font-size: 1.5em;
}

.dark-mode {
  background-color: black;
  color: black;
}

form{
    padding-top: 20px;
}

a:link{
    text-decoration: none;
}

.footer{
    padding: 14px;
}

.alert{
    border:1px solid #5cb85c;
    border-left: 5px solid #5cb85c;
    border-right: 5px solid #5cb85c;
}

.error{
    border:1px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red;
}

/* Styling for About Us Section */

#about-us {
    background-color: #f8f9fa; /* Set background color */
    padding: 90px 0; /* Add padding to the top and bottom */
    
}

.aboutimg {
    width: 100%; /* Make the image responsive */
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    margin-top: 50px; /* Adjust the margin to bring the image down */
}

h2 {
    color:black; /* Set heading color */
    font-size: 2em; /* Set heading font size */
    font-weight: bolder;
    margin-bottom: 20px; /* Add spacing below headings */
}

p {
    color: #6c757d; /* Set paragraph text color */
    font-size: 1.1em; /* Set paragraph font size */
    line-height: 1.6; /* Set line height for better readability */
}

/* Responsive Styles */
@media (max-width: 768px) {
    #about-us {
        padding: 50px 0; /* Adjust padding for smaller screens */
    }

    h2 {
        font-size: 1.8em; /* Adjust heading font size for smaller screens */
    }

    p {
        font-size: 1em; /* Adjust paragraph font size for smaller screens */
    }
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the items horizontally */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar h1 {
    margin: 0;
    padding: 14px 16px;
    float: left;
    display: block;
    color: white;
}