*{
    margin:0;
    padding:0;
}

html{
    overflow: hidden;
    
}

/* Basic styles for the entire page */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    

}

header {
    background-color: #efdddd;
    color: #110707;
    text-align: center;
    padding: 5px 0;
}

main {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

/* Error message styles */
.error {
    color: #2026de;
    font-size: 14px;
}

/* Link styles */
a {
    color: #570df6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.bg{
    
    width: 105%;
    position: absolute;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(rgba(1, 0, 5, 0.6),rgba(4, 1, 17, 0.6));

   
}